APP_NAME=techtic_prac
APP_ENV=local
APP_KEY=base64:FYMiB/8B1JMTjzhYDGES5w==
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost/techtic_prac

DB_FOREIGN_KEY_CONSTRAINT=true
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=post
DB_USERNAME=root
DB_PASSWORD=mind